// ---- Layout ----

.container {
  @include clearfix;
  width: 95%;
  margin: 0 auto;
  max-width: $container-width-max;
}

.container-sponsor-season, .container-sponsor-lead {
  width: 95%;
  margin: 0 auto;
  max-width: $container-width-max;
}

.container-wide {
	width: 95%;
	margin: 0 auto;
}

.container-flex {
	@include flexbox();
	@include flex-prop-prefixes(flex-direction, column);
}

@media (min-width: $start-tablet) {
	.container-flex {
		@include flex-prop-prefixes(flex-direction, row);
	}
}
