{{/* Musicals have a specialized byline */}}
{{- if in .Params.genres "musical" -}}
    {{- with .Params.playwrights -}}
        <div>
            Book by
            {{ delimit (apply . "partial" "bio/link.html" ".") ", " " & " }}
        </div>
    {{- end -}}
    {{/* when music and lyrics are done by the same person(s) */}}
    {{- if eq .Params.musicians .Params.lyricists }}
        {{- with .Params.musicians -}}
            <div>
                Music & Lyrics by
                {{ delimit (apply . "partial" "bio/link.html" ".") ", " " & " }}
            </div>
        {{- end -}}
    {{/* when music and lyrics are done by different people */}}
    {{- else -}}
        {{- with .Params.musicians -}}
            <div>
                Music by
                {{ delimit (apply . "partial" "bio/link.html" ".") ", " " & " }}
            </div>
        {{- end -}}
        {{- with .Params.lyricists -}}
            <div>
                Lyrics by
                {{ delimit (apply . "partial" "bio/link.html" ".") ", " " & " }}
            </div>
        {{- end -}}
    {{- end -}}
{{/* Typical byline */}}
{{- else -}}
    {{- with .Params.playwrights -}}
        <div>
            <!--Written by-->
            {{ delimit (apply . "partial" "bio/link.html" ".") ", " " & " }}
        </div>
    {{- end -}}
    {{- with .Params.directors -}}
        <div>
            <!--Directed by-->
            {{ delimit (apply . "partial" "bio/link.html" ".") ", " " & " }}
        </div>
    {{- end -}}
{{- end -}}
