{{/* show starts on the first date in the showtimes array */}}
{{- $start := (time (index .Params.showtimes 0).time ) -}}
{{/* show ends on the last date in the showtimes array */}}
{{- $end := (time (index .Params.showtimes (sub (len .Params.showtimes) 1) ).time ) -}}

{{/* start out with a standard month format */}}
{{- $.Scratch.Set "monthFormat" "January" -}}
{{/* if the season has ended, note the year */}}
{{- if lt $end.Unix .Now.Unix -}}
    {{- $.Scratch.Set "monthFormat" "January 2006" -}}
{{- end -}}
{{- $monthFormat := ($.Scratch.Get "monthFormat") -}}
{{- $dayFormat := "20060102" -}}

{{/*
    start an array in Scratch called "months"
    containing one entry for each month represented
    in the showtimes
*/}}
{{/* start with the month of the start date */}}
{{- $.Scratch.Set "months" (slice (dateFormat $monthFormat $start)) -}}
{{- $.Scratch.Set "days" (slice nil) -}}
{{/*
    for all showtimes, add the month to the array if it's not already there
*/}}
{{- range $index, $showtime := .Params.showtimes -}}
    {{- if not (in ($.Scratch.Get "months") (dateFormat $monthFormat $showtime.time)) -}}
        {{- $.Scratch.Add "months" (dateFormat $monthFormat $showtime.time) -}}
    {{- end -}}
{{- end -}}

<div class="show-dates">
	<h3 class="months">
	    {{ delimit ($.Scratch.Get "months") ", " " & " }}
	</h3>
	<h4 class="days">
	    {{- range $i, $showtime := .Params.showtimes -}}
            {{- if not (in ($.Scratch.Get "days") (dateFormat $dayFormat $showtime.time)) -}}
                {{- $.Scratch.Add "days" (dateFormat $dayFormat $showtime.time) -}}
                <a href="{{ $showtime.tickets }}" class="day">
                    <span>{{ dateFormat "2" $showtime.time }}</span>
                </a>
            {{- end -}}
	    {{ end }}
	</h4>
</div>
