{{/* show starts on the first date in the showtimes array */}}
{{- $start := (time (index .Params.showtimes 0).time ) -}}
{{/* show ends on the last date in the showtimes array */}}
{{- $end := (time (index .Params.showtimes (sub (len .Params.showtimes) 1) ).time ) -}}

{{- $.Scratch.Set "posterPath" nil -}}
{{- range (readDir (printf "content/%s" .RelPermalink)) -}}
    {{- if hasPrefix .Name "poster" -}}
        {{- $.Scratch.Set "posterPath" .Name -}}
    {{- end -}}
{{- end -}}
<div class="container show-or-event-full">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <img src="{{ $.Scratch.Get "posterPath" }}"
                alt="{{ .Title }} poster" />
            <span
                id="fb_share_button"
                data-permalink="{{ .Permalink }}"
                class="fa fa-facebook"
                aria-hidden="true"></span>
            <ul class="social-icons">
                <li>
                    <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&amp;text={{ .Title }} &middot; {{ .Site.Title }}&amp;via={{ .Site.Params.social.twitter }}&amp;hashtags=bpp,newplays">
                        <span class="fa fa-twitter" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="https://pinterest.com/pin/create/bookmarklet/?media={{ .Permalink }}{{ $.Scratch.Get "posterPath" }}&amp;url={{ .Permalink }}&amp;is_video=0&amp;description={{ .Title }} &middot; {{ .Site.Title }}">
                        <span class="fa fa-pinterest-p"
                            aria-hidden="true"></span>
                    </a>
                </li>
                {{- with .Params.youtube_id -}}
                    <li>
                        <a href="https://youtu.be/{{ . }}">
                            <span class="fa fa-youtube"
                                aria-hidden="true"></span>
                        </a>
                    </li>
                {{- end -}}
            </ul>
            <div
                class="fb-share"
                data-share="true"
                data-width="450"
                data-show-faces="true">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5">
            <h1 class="{{ .Type }}-title">{{ .Title }}</h1>
            {{/* only show the subtitle if it exists */}}
            {{- if .Params.subtitle -}}
                <h6 class="subtitle">{{ .Params.subtitle }}</h6>
            {{- end -}}
            <div class="meta">
                {{/* Slot or genres if no slot */}}
                <div>
                    {{- with .Params.slot -}}
                        {{ . }}
                    {{- else -}}
                        {{ delimit (apply .Params.genres "title" "." ) "&" }}
                    {{- end -}}
                </div>

                {{/* written by, directed by, etc, with specialized musical handling */}}
                <div>
                    {{ partial "show_or_event/byline.html" . }}
                </div>
            </div>

            <p>{{ .Content }}</p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4 pull-right">
            {{ partial "youtube.html" . }}
            <div class="times">
                {{ if gt $end.Unix .Now.Unix }}
                    <!--<h6>See It Live</h6>-->
                {{ else }}
                    <!--<h6>Performed Live</h6>-->
                {{ end }}

                {{ partial "show_or_event/dates.html" . }}

                {{ if gt $end.Unix .Now.Unix }}
                    {{ with .Params.tickets_run }}
                        <div>
                            <a class="button button-secondary" href="{{ . }}">
                                Visit Website
                            </a>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>

    </div>
</div>
