// ---- Photo Gallery ----

// the photo gallery layout is located in section/photo-gallery.html

// TODO - abstract the gallery style for potential merge with _season

// ---- Page Styles  ----
.gallery {
	-webkit-columns: 1 95vw;
	-moz-columns: 1 95vw;
	columns: 1 95vw;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
	img {
	  width: 95vw;
		height: auto;
	  background: $gray-light;
	}
}


@media (min-width: $start-tablet) {
	.gallery {
		-webkit-columns: 2 44vw;
		-moz-columns: 2 44vw;
		columns: 2 44vw;
		-webkit-column-gap: 1vw;
		-moz-column-gap: 1vw;
		column-gap: 1vw;
		img {
		  width: 47vw;
		}
	}
}

@media (min-width: $start-laptop) {
	.gallery {
		-webkit-columns: 3 30vw;
		-moz-columns: 3 30vw;
		columns: 3 30vw;
		-webkit-column-gap: 1vw;
		-moz-column-gap: 1vw;
		column-gap: 1vw;
		img {
		  width: 31vw;
		}
	}
}
