// ---- Base Typography ----

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.999em;
	margin-bottom: 0.333em;
  font-family: $int-bold-cond;
}

h1 { font-size: 2.074em; line-height: 1.2;  letter-spacing: -.1rem; font-family: $int-black; text-transform: uppercase; }
h2 { font-size: 1.728em; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.44em; line-height: 1.3; letter-spacing: -.1rem; }
h4 { font-size: 1.2em; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.125em; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1em; line-height: 1.3;  letter-spacing: 0; }

body {
  font-size: $body-font-size;
  font-family: $int-light;
}

// classes with font family conventions

.show-title,
.brand-title,
.subtitle {
	font-family: $twenty;
}

.event-title {
	font-family: $int-black;
}

.months {
	font-family: $trend;
}

.meta {
	font-family: $int-bold-cond;
	font-size: (1/1.125) * 1em;
}
