{{/* if the build file is there, use it. Otherwise, use systemjs */}}
{{- if eq ($.Scratch.Get "isBuilt") nil -}}
    {{- range (readDir "static/js") -}}
        {{- if eq .Name "build.js" -}}
            {{- $.Scratch.Set "isBuilt" "true" -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- if eq ($.Scratch.Get "isBuilt") "true" -}}
    <script src="/js/build.js"></script>
{{- else -}}
    <script src="/js/build.js"></script>
    <!-- <script src="/js/jspm_packages/system.js"></script>
    <script src="/js/config.js"></script>
    <script>
        System.import('/js/app').catch(function(err){ console.error(err); });
    </script> -->
{{- end -}}
