<!-- fixed logo cannot be inside of the #panel re: browser quirks-->
<!--<div class="perma-logo">
    <a href="/">
        <img src="/img/tec-logo.svg" alt="{{ .Site.Title }} Logo" />
    </a>
</div>-->
<!-- full site map nav -->
<nav id="menu" class="init-hide-menu">
    <ul>
        {{- range .Site.Menus.main -}}
            {{- if .HasChildren -}}
                <li class="menu-item dropdown{{if $.HasMenuCurrent "main" . }} active{{end}}">
                    <a href="{{ .URL }}" class="">
                        <span>{{ .Name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        {{- range .Children -}}
                            <li class="dropdown-menu-item{{if $.IsMenuCurrent "main" . }} active{{end}}">
                                <a href="{{.URL}}"> {{ .Name }} </a>
                            </li>
                        {{- end -}}
                    </ul>
                </li>
            {{- else -}}
                <li class="menu-item{{if $.IsMenuCurrent "main" . }} active{{end}}">
                    <a class="" href="{{.URL}}">
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{- end -}}
        {{- end -}}
    </ul>
</nav>
