.show-info {
	h2 {
		font-family: $twenty;
		text-transform: uppercase;
		a {
			color: $black;
		}
	}
	p {
		font-family: $trend;
		letter-spacing: -.08rem;
		margin: 0;
		text-transform: capitalize;
	}
}

.days {
	margin: 0.5em 0 0.5em 0;
	@include flexbox();
	@include flex-prop-prefixes(justify-content, flex-start);
	@include flex-prop-prefixes(align-items, flex-start);
	@include flex-prop-prefixes(flex-wrap, wrap);
}
.day {
	background-color: $accent;
	border-radius: 50%;
	color: $white;
	font-size: 18px;
	height: 33px;
	padding-top: 5.5px;
	text-align: center;
	width: 33px;
}
.day + .day {
	margin-left: 8px;
}
.months {
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 0;
	text-shadow: 1.5px 1.5px $day-trans;
}
