// ---- Footer ----

footer {
    background-color: $black;
    color: $white;
    text-align: center;
    // ---- sponsors ----
    .sponsor {
        background-color: $white;
        color: $black;
        padding-bottom: 0.25em;

        .sponsor-lead {
            img {
                height: 75px;
                width: auto;
            }
        }

        .sponsor-season {
            ul {
                @include flexbox();
                @include flex-prop-prefixes(flex-direction, row);
                @include flex-prop-prefixes(align-content, space-between);
                @include flex-prop-prefixes(justify-content, space-around);
                @include flex-prop-prefixes(flex-wrap, wrap);
                list-style: none;
                padding-bottom: 2em;
            }

            li {
                margin: 5px;
            }

            img {
                height: 50px;
                max-width: 100vw;
                width: auto;
            }
        }
    }
    // ---- traditional footer ----
    .traditional {
        padding-top: 1em;

        .container-flex {
            @include flex-prop-prefixes(flex-direction, column);
            @include flex-prop-prefixes(justify-content, space-between);
        }

        a {
            color: $white;
        }

        .button-secondary {
            color: $primary;
            border-color: $primary;
        }

        .button-secondary:hover {
            color: $primary-dark;
            border-color: $primary-dark;
        }
				.e-contact {
					margin-bottom: 1em;
				}

        .social-icons {
            margin: 0;
        }

        .made, .made a, h2 {
            color: $gray;
        }

        h2 {
            font-size: 2.074em;
            letter-spacing: 0;
        }

        form {
            padding-top:10px;
            label {
            	position:relative;
                .fa {
                	color: $white;
                  position: absolute;
                  left: 8px;
                  top: 50%;
                  transform: translateY(-50%);
                }
                #user-query {
									color: $white;
									background-color: $black;
									border: 1px solid $white;
                  padding-left: 2rem;
                }
            }
        }
    }
}
// ---- media queries ----
@media (min-width: $start-tablet) {
    footer {
        // sponsors
        .sponsor {
            .sponsor-season {
                img {
                    height: 65px;
                }
            }
        }

        .traditional {
            .container-flex {
                height: 275px;
            }

            .container-flex.left {
                text-align: left;
            }

            .container-flex.right {
                text-align: right;
            }

            .copyright {
                padding-right: 60px;
            }
        }
    }
}
@media (min-width: $start-laptop) {
    footer {
        // sponsors
        .sponsor {
            .sponsor-season {
                img {
                    height: 75px;
                }
            }
        }
    }
}
