.poster {
	margin: 0;
	img {
		width: 100%;
		height: auto;
	}
}

.poster-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

figure.poster:hover .poster-overlay {
    z-index: 1;
}

figure.poster:hover img {
    filter: grayscale(1);
}

figure.poster:hover + div.figcaption {
    color: $primary-light;
}
