<ol>
    <li>
        &quot;Full-length&quot; plays will have a complete running time of between 1 hour 15 minutes (75 minutes) to 2 hours 15 minutes (135 minutes).
    </li>
    <li>
        Plays submitted must be unpublished at the time of submission. Plays that have received developmental readings, workshop productions, or productions at small theatre companies are acceptable. No scripts with previous productions at major regional
        theaters will be accepted. Once entered, subsequent activity does not change the acceptability of the script.
    </li>
    <li>
        Each submission must include a synopsis (1 page or less) including the cast size. A separate page should include a brief bio of the playwright, and production/development history if applicable.
    </li>
    <li>
        Each submission must include a cover letter with contact information and a $10.00 reader fee. Agent submissions require no fee. The fee will be waived for Dramatist Guild members with an enclosed photocopy of a membership card. The BPP only accepts U.S. checks or money orders (Make check payable to &quot;BPP&quot;). No international checks or money orders will be accepted. If submitting internationally or if you want to avoid paying by check, pay online with your credit card here:

        <p>
            {{ partial "paypal_button.html" (dict "text" "Pay Reader Fee" "id" "BTLYFLANT6KSC") }}
        </p>

        <p> Make sure to note with your submission that you have paid the reader fee online.</p>
    </li>
    <li>
        It is preferable for musicals to include a demo CD. The complete score is not necessary but may be included. All plays are read by BPP&#39;s literary personnel led by and including the Literary Manager and Artistic Director.
    </li>
    <li>
        We do not accept e-mail submissions. Scripts will not be returned. Blind submissions are not necessary. Please include all contact information. Plays submitted in previous years will be accepted.
    </li>
    <li>
        The BPP reserves the right not to name a winner and/or name a winner but not commit to a reading or production.
    </li>
    <li>
        Send to:
        <blockquote>
            Bloomington Playwrights Project<br/>
            107 W. 9th Street <br/>
            Bloomington, IN 47404
        </blockquote>
    </li>
    <li>
        For further information, write BPP, Attn: Literary Manager, 107 W. 9th Street, Bloomington, IN 47404. For faster replies, please e-mail us at <a href="mailto:literarymanager@newplays.org">literarymanager@newplays.org</a>
    </li>
</ol>
